@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply w-screen overflow-hidden
}

.enunciado table {
    @apply w-full border divide-y
}

.enunciado thead tr {
    @apply bg-gray-100
}

.enunciado table tbody {
    @apply border divide-y
}

.enunciado table td,
th {
    @apply px-3
}

ul {
    @apply list-disc pl-5
}

summary {
    @apply ml-5;
}

summary::marker {
    content: "> "
}

ol {
    @apply list-decimal pl-5;
}

.overline-line::after {
    border-bottom-color: black;
}

.frac-line::after {
    border-bottom-color: black;
  }

.ql-editor {
    @apply focus:outline-none
}

blockquote {
    @apply border-2 p-4 mb-4 rounded
}

.resolucao p {
    @apply py-2
}